@font-face {
    font-family: 'Nunito Sans';
    src: url('fonts/NunitoSans-Regular.woff') format('woff');
    }
@font-face {
    font-family: 'Yeseva one';
    src: url('fonts/yesevaone-regular-webfont.woff') format('woff');
}
